.allCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card {
    box-shadow: 10px 5px 5px gray;
    width: 30%;
}

.border {
    border: 1px solid lightblue;
}

.header {
    border: 1px solid lightblue;
    justify-content: center;
    display: flex;
}

.image {
    display: flex;
    justify-content: center;
}

.description {
    text-align: justify;
}

.image1 {
    max-width: 100%;
}

.dog-name {
    justify-content: center;
}

.size, .weight, .price1, .price2, .price3 {
    font-weight: bold;
}

.availabilitiy {
    background-color: gray;
    color: yellow;
}


